body {
  background: rgb(63, 94, 251);
  background: -moz-radial-gradient(
    circle,
    rgba(63, 94, 251, 1) 0%,
    rgba(0, 0, 0, 1) 11%,
    rgba(0, 0, 0, 1) 51%,
    rgba(0, 0, 0, 1) 92%,
    rgba(252, 70, 107, 1) 100%
  );
  background: -webkit-radial-gradient(
    circle,
    rgba(63, 94, 251, 1) 0%,
    rgba(0, 0, 0, 1) 11%,
    rgba(0, 0, 0, 1) 51%,
    rgba(0, 0, 0, 1) 92%,
    rgba(252, 70, 107, 1) 100%
  );
  background: radial-gradient(
    circle,
    rgba(63, 94, 251, 1) 0%,
    rgba(0, 0, 0, 1) 11%,
    rgba(0, 0, 0, 1) 51%,
    rgba(0, 0, 0, 1) 92%,
    rgba(252, 70, 107, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3f5efb",endColorstr="#fc466b",GradientType=1);
  color: rgb(247, 8, 179);
}
#car1win {
  position: absolute;
  right: 10px;
  top: 295px;
  width: 70px;
  height: auto;
  display: none;
}
#car2win {
  position: absolute;
  right: 10px;
  top: 395px;
  width: 70px;
  height: auto;
  display: none;
}
#car3win {
  position: absolute;
  right: 10px;
  top: 515px;
  width: 70px;
  height: auto;
  display: none;
}

.car {
  width: 150px;
  height: auto;
  margin: 20px 0;
}
#car1 {
  position: absolute;
  left: 0px;
  top: 280px;
  margin: 20px 0;
}

#car2 {
  position: absolute;
  left: 0px;
  top: 380px;
  margin: 20px 0;
}
#car3 {
  position: absolute;
  left: 0px;
  top: 500px;
  margin: 20px 0;
}
.sideItems {
  margin-top: 20px;
}
[class*="col"] {
  float: left;
  margin: 20px;
  left: 3%;
}
.button {
  cursor: pointer;
  width: 120px;
  text-align: center;
  background: rgb(11, 214, 221);
  font-size: 20px;
  padding: 10px;
  border: 5px solid greenyellow;
  border-radius: 20px;
  opacity: 0.8;
}
.button2 {
  cursor: pointer;
  width: 120px;
  text-align: center;
  background: rgb(11, 214, 221);
  font-size: 20px;
  padding: 10px;
  border: 5px solid greenyellow;
  border-radius: 20px;
  opacity: 0.8;
}

#traffic-light {
  height: 150px;
  width: 50px;
  background-color: #333;
  border-radius: 30px;
  border: 5px solid black;
}

.bulb {
  cursor: pointer;
  width: 67%;
  height: 21%;
  background-color: #111;
  border-radius: 50%;
  margin: 15px auto;
  transition: background 500ms;
}
#stopLight {
  background-color: red;
}
.col-4 {
  color: rgb(247, 8, 179);
}
#stopWatch {
  height: 110px;
  width: 140px;
  background-color: rgb(31, 27, 27);
  border-radius: 50%;
  text-align: center;
  padding-top: 2px;
  border: 5px solid rgb(25, 31, 4);
  padding: 5px;
}
#display {
  height: 30px;
  width: 100px;
  margin: 23% 0 0 11%;
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  background-color: #111;
}
p {
  color: rgb(247, 219, 8);
}
#container {
  padding: 15px;
  background-color: rgba(13, 245, 33, 0.864);
  border-radius: 5px;
}
#choice {
  height: 40px;
  width: 120px;
  margin: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 13px;
  text-align: center;
  background-color: #111;
  color: rgb(247, 8, 179);
}
.finishline {
  position: absolute;
  top: 30%;
  right: 0px;
  z-index: -1;
}
.Controler-buttons {
  font-size: 25px;
  color: white;
  background-color: rgb(70, 75, 75);
  border: rgb(70, 75, 75) 10px solid;
  border-radius: 5%;
  width: 180px;
  height: 46px;
}
#automatic {
  float: left;
  cursor: pointer;
  background-color: orange;
  padding: 10px;
  font-size: 17px;
  border-radius: 10% 0 0 10%;
}
#manual {
  cursor: pointer;
  background-color: orange;
  opacity: 0.4;
  float: left;
  padding: 10px;
  font-size: 17px;
  border-radius: 0% 10% 10% 0%;
}
i {
  font-size: 50px;
  color: rgb(109, 232, 21);
}
.moving-buttons {
  position: absolute;
  top: 90%;
  left: 10%;
  display: none;
}
#instruction {
  position: absolute;
  top: 31%;
  left: 5%;
  color: yellowgreen;
  display: none;
}
@media only screen and (max-width: 780px) {
  .finishline {
    top: 60%;
    width: 5vw;
    height: 60vw;
  }
  [class*="col"] {
    margin: 1.7vw;
  }
  .button {
    width: 30vw;
    font-size: 5vw;
  }
  .button2 {
    width: 30vw;
    font-size: 5vw;
  }
  #traffic-light {
    width: 12vw;
    height: 36vw;
  }
  .bulb {
    margin: 3vw auto;
  }
  .col-4 {
    font-size: 4vw;
  }
  #stopWatch {
    width: 40vw;
    height: 36vw;
  }
  #display {
    padding: 2vw;
    width: 28vw;
    font-size: 7vw;
  }
  p {
    margin: 2vw;
    font-size: 5vw;
  }
  #container {
    padding: 2vw;
  }
  #choice {
    height: 10vw;
    width: 26vw;
    margin: 1vw;
    font-size: 3vw;
  }
  #car1 {
    top: 60%;
  }
  #car2 {
    top: 70%;
  }
  #car3 {
    top: 80%;
  }

  #car1win {
    width: 20px;
    top: 64%;
  }

  #car2win {
    width: 20px;
    top: 73%;
  }
  #car3win {
    width: 20px;
    top: 84%;
  }
  .car {
    width: 80px;
  }
  i {
    font-size: 25px;
  }
  .moving-buttons {
    top: 94%;
  }
  .Controler-buttons {
    padding : 1vw 0 2vw 0;
    width: 40vw;
    height: 5.5%;
  }
  #automatic,
  #manual {
    padding: 1vw;
    font-size: 4vw;
  }
  #instruction {
    top: 50%;
  }
}
