body {
    background: rgb(63, 94, 251);
    background: -moz-radial-gradient(
      circle,
      rgba(63, 94, 251, 1) 0%,
      rgba(0, 0, 0, 1) 11%,
      rgba(0, 0, 0, 1) 51%,
      rgba(0, 0, 0, 1) 92%,
      rgba(252, 70, 107, 1) 100%
    );
    background: -webkit-radial-gradient(
      circle,
      rgba(63, 94, 251, 1) 0%,
      rgba(0, 0, 0, 1) 11%,
      rgba(0, 0, 0, 1) 51%,
      rgba(0, 0, 0, 1) 92%,
      rgba(252, 70, 107, 1) 100%
    );
    background: radial-gradient(
      circle,
      rgba(63, 94, 251, 1) 0%,
      rgba(0, 0, 0, 1) 11%,
      rgba(0, 0, 0, 1) 51%,
      rgba(0, 0, 0, 1) 92%,
      rgba(252, 70, 107, 1) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3f5efb",endColorstr="#fc466b",GradientType=1);
    color: rgb(247, 8, 179);
  }
  

  
  .car {
    width: 150px;
    height: auto;
    margin: 20px 0;
  }
  [cLASS*="row"]{
    margin: 20px 0;
  }
  .part1 {
    float: left;
    width: 94%;
  }
  .part2{
    float:left;
  }
  [id*="win"] {
    width: 70px;
    height: auto;
    z-index:1;
    position: absolute;
    display: none;
  }
  #car1, #car2, #car3{
    position: relative;
  }
  .sideItems{
    float: left;
    width: 100%;
  }
  [class*="col"] {
    float: left;
    margin: 20px;
    left: 3%;
  }
  .partrace{
    clear: both;
    width: 100%;
    float: left;
  }
  #insert{
    float: left;
    width: 94%;
  }
  .finishLine {
    z-index: -1;
  }
  .button {
    cursor: pointer;
    width: 160px;
    text-align: center;
    background: rgb(11, 214, 221);
    font-size: 20px;
    padding: 10px;
    border: 5px solid greenyellow;
    border-radius: 20px;
    opacity: 0.8;
    display: inline;
  }
  .button2 {
    cursor: pointer;
    width: 120px;
    text-align: center;
    background: rgb(11, 214, 221);
    font-size: 20px;
    padding: 10px;
    border: 5px solid greenyellow;
    border-radius: 20px;
    opacity: 0.8;
    display: inline;
  }
  
  #traffic-light {
    height: 150px;
    width: 50px;
    background-color: #333;
    border-radius: 30px;
    border: 5px solid black;
    display: inline;
  }
  
  .bulb {
    cursor: pointer;
    width: 67%;
    height: 21%;
    background-color: #111;
    border-radius: 50%;
    margin: 15px auto;
    transition: background 1s;
  }
  #stopLight {
    background-color: red;
  }
  .col-4 {
    color: rgb(247, 8, 179);
    display: inline;
  }
  #stopWatch {
    height: 110px;
    width: 140px;
    background-color: rgb(31, 27, 27);
    border-radius: 50%;
    text-align: center;
    padding-top: 2px;
    border: 5px solid rgb(25, 31, 4);
    padding: 5px;
    display: inline;
  }
  #display {
    height: 30px;
    width: 100px;
    margin: 23% 0 0 11%;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    background-color: #111;
  }
  p {
    color: rgb(247, 219, 8);
  }
  #container {
    padding: 15px;
    background-color: rgba(13, 245, 33, 0.864);
    border-radius: 5px;
    display: inline;
  }
  #choice {
    height: 40px;
    width: 120px;
    margin: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 13px;
    text-align: center;
    background-color: #111;
    color: rgb(247, 8, 179);
  }
  
  .Controler-buttons {
    font-size: 25px;
    color: white;
    background-color: rgb(70, 75, 75);
    border: rgb(70, 75, 75) 10px solid;
    border-radius: 5%;
    width: 180px;
    height: 46px;
  }
  #automatic {
    float: left;
    cursor: pointer;
    background-color: orange;
    padding: 10px;
    font-size: 17px;
    border-radius: 10% 0 0 10%;
  }
  #manual {
    cursor: pointer;
    background-color: orange;
    opacity: 0.4;
    float: left;
    padding: 10px;
    font-size: 17px;
    border-radius: 0% 10% 10% 0%;
  }
  i {
    font-size: 50px;
    color: rgb(109, 232, 21);
  }
  .moving-buttons {
    position: absolute;
    top: 90%;
    left: 10%;
    display: none;
  }
  #instruction {
    top: 31%;
    left: 5%;
    font-size:15px;
    color: yellowgreen;
    display: none;
    animation: animate  
      3s linear infinite;
  }
  @keyframes animate { 
    0% { 
        opacity: 0; 
    } 
  
    30%{
      opacity:0.7;
    }
    50% { 
        opacity: 1; 
    } 
    70%{
      opacity: 0.7;
    }
  
    100% { 
        opacity: 0; 
    } 
  } 
  @media only screen and (max-width: 780px) {
    [class*="col"] {
      margin: 1.7vw;
    }
    [cLASS*="row"]{
      margin: 5px 0;
    }
    .button {
      width: 42vw;
      font-size: 5vw;
    }
    .button2 {
      width: 40vw;
      font-size: 5vw;
    }
    #traffic-light {
      width: 12vw;
      height: 36vw;
    }
    .bulb {
      margin: 3vw auto;
    }
    .col-4 {
      font-size: 4vw;
    }
    #stopWatch {
      width: 40vw;
      height: 36vw;
    }
    #display {
      padding: 2vw;
      width: 28vw;
      font-size: 7vw;
    }
    p {
      margin: 2vw;
      font-size: 5vw;
    }
    #container {
      padding: 2vw;
    }
    #choice {
      height: 10vw;
      width: 26vw;
      margin: 1vw;
      font-size: 3vw;
    }
    .car {
      width: 80px;
      margin: 10px 0;
    } 
    i {
      font-size: 25px;
    }

    .Controler-buttons {
      padding : 1vw 0 2vw 0;
      width: 40vw;
      height: 5.5%;
    }
    #automatic,
    #manual {
      padding: 1vw;
      font-size: 4vw;
    }
    #instruction {
      top: 50%;
      left: 1%;
    }

    #insert{
      position: absolute;
      width:90%;
    }
    .finishLine{
      position: absolute;
    right: 0px;
    }
    .finishline{
      width: 10vw;;
    }
    [id*="win"] {
      width:5vw;
    }
  }
  
